<div class="relative" data-hovercard-target="card">
  <div data-tooltip-arrow class="absolute bottom-8 left-0 z-50 bg-white shadow-lg rounded-lg p-2">
    <div class="flex space-x-3 items-center w-[40rem]">
      <%= image_tag @product.image, class: "flex-shrink-0 h-96 w-96 object-cover border border-gray-200 bg-gray-100 rounded", alt: @product.name %>

      <div class="flex flex-col">
        <span class="text-xl font-bold leading-0 text-gray-900 p-2">
          <%= @product.name %>
        </span>
        <span class="text-sm text-bold leading-5 font-medium text-black p-2">
          <%= @product.description %>
        </span>

        <span class="flex text-lg text-bold text-gray-700">
          <%= number_to_currency(@product.price_cents) %>
          <span class="mx-1">
            &middot;
          </span>
        </span>
          <div class="mt-5 flex flex-col gap-3">
            <% if @cart.include?(@product) %> 
              <%= button_to "Remove", remove_from_cart_path(@product), method: :delete, class: "button-primary bg-red-500 over:bg-red-600/90" %>
            <% else %>
              <%= button_to "Add to cart", add_to_cart_path(@product), class: "button-primary" %>
            <% end %>
              <div class="flex gap-3">
                <button class="button-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 opacity-50" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
                  </svg>
                </button>
                <button class="button-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 opacity-50" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                </svg>
                </button>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
